.mainContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px;       
    padding: 10px;
  }
  
  .mainContainer > div {
    flex: 1;
  }
  .deletedContainer{
    font-weight: bold;
  }
  .deletedContainer h2{
    color: red;
  }
  